{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="columns is-centered">
        <div class="column is-10 is-8-desktop">

            <div class="notification is-danger">
                <strong>
                    {{ 'ERROR'|t }} {{ page.header.http_response_code }}
                </strong>
                {{ page.content }}
            </div>

        </div>
    </div>

{% endblock %}
