{% extends 'partials/base.html.twig' %}

{% block content %}

        <div class="columns is-centered is-multiline">
            <div class="column is-10 is-8-desktop">
                {{ page.content }}
            </div>
            <div class="column is-10 is-8-desktop">
                {% include "forms/data.html.twig" %}
            </div>
        </div>

{% endblock %}
