{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="columns is-centered is-multiline">
            <div class="column is-8">
                {{ page.content }}
            </div>
            <div class="column is-8">
                {% include "forms/data.txt.twig" %}
            </div>
        </div>
    </div>

{% endblock %}