{% extends 'partials/base.html.twig' %}
{% block content %}

        <div class="columns is-centered is-multiline">
            <div class="column is-10 is-8-desktop">
                {{ page.content }}
            </div>
            {% for item in page.header.features %}
                <div class="column is-10 is-8-desktop features">
                    <div class="image">
                        <object class='feature-image' data="{{ page.media[item.image].url }}" type="image/svg+xml">Your browser doesnt support SVG's => Download and use a proper OSS browser like
                            <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel='noopener'>Firefox</a>
                        </object>
                    </div>
                    <div class="feature">
                        <h3 class="is-size-3">{{ item.title }}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}
