{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
    <head>
        {% block head %}
            {% include 'partials/head.html.twig' %}
        {% endblock %}
    </head>
    <body{% if page.header.body_classes %} class="{{ page.header.body_classes }}" {% endif %}>

        {# Wrap content in #app to allow vue components #}
        <div id="app">
            {% include 'partials/navbar.html.twig' %}
            {% block hero %}
                {% include 'partials/hero.html.twig' %}
            {% endblock %}
            <section class="section">
                {% block content %}{% endblock %}
            </section>
        </div>
        {% include 'partials/footer.html.twig' %}
            <div class="beta-wrapper beta-bottom-right ">
            <div class="beta beta-blue  ">
                <a class="beta-link " href="https://github.com/OpenUK/publiccode.directory-web-interface/issues/new" target="_blank" rel="noopener">
                <span class="beta-text">
                    This is a Beta release.
                </span>
                <span class="beta-text">
                    For any issues please raise a ticket on GitHub
                </span>
                </a>
            </div>
            </div>
        {{ assets.js() }}
        {{ assets.js('bottom') }}
        <!-- Matomo -->
        <script>
            var _paq = _paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push([
                "setDocumentTitle", document.domain + "/" + document.title
            ]);
            _paq.push(["setCookieDomain", "*.publiccode.directory"]);
            _paq.push(["setDomains", ["*.publiccode.directory"]]);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = "//web-analytics.opusvl.com/";
                _paq.push([
                    'setTrackerUrl', u + 'piwik.php'
                ]);
                _paq.push(['setSiteId', '25']);
                var d = document,
                    g = d.createElement('script'),
                    s = d.getElementsByTagName('script')[0];
                g.type = 'text/javascript';
                g.async = true;
                g.defer = true;
                g.src = u + 'piwik.js';
                s.parentNode.insertBefore(g, s);
            })();
        </script>
        <noscript>
            <p><img src="//web-analytics.opusvl.com/piwik.php?idsite=25&amp;rec=1" style="border:0;" alt=""/></p>
        </noscript>
        <!-- End Matomo Code -->
    </body>
</html>
