<footer class="footer" id="footer">
    <div class="content has-text-centered">
        <p>This project was possible due to the following partners</p>
        <div class="images">
            <a class='footer-image' href="//publiccode.eu/" rel='noopener' target="_blank">
                <object class='partner-image' data="{{ url('theme://images/logos/public-code-logo.svg') }}" type="image/svg+xml">Public Code EU</object>
            </a>
            <a class='footer-image' href="//fsfe.org/" rel='noopener' target="_blank">
                <object class='partner-image' data="{{ url('theme://images/logos/fsfe-logo.svg') }}" type="image/svg+xml">Free Software Foundation Europe</object>
            </a>
            <a class='footer-image' href="//opusvl.com" rel='noopener' target="_blank">
                <object class='partner-image' data="{{ url('theme://images/logos/opusvl-black-logo.svg') }}" type="image/svg+xml">OpusVL</object>
            </a>
            <a class='footer-image' href="//openuk.uk/" rel='noopener' target="_blank">
                <object class='partner-image' data="{{ url('theme://images/logos/OpenUK-logo.svg')}}" type="image/svg+xml">OpenUK</object>
            </a>
        </div>
        <p>&copy; 2018 - Copyright OpenUK</p>
    </div>
</footer>