{% set value = (value is null ? field.default : value) %}

<div class="control">
    <input type="hidden" class="input" name="{{ (scope ~ field.name)|fieldName }}" value="{{ value|join(', ') }}" />
</div>