  .is-size-5,
  .is-size-4 {
      padding: 0.5rem 0;
      font-weight: bold;
  }

  .is-bold {
      font-weight: bold;
  }

  ul.styled {
      padding-left: 3rem;
      list-style-type: circle;
  }

  .link-svg {
      height: 30px;
      padding-left: 0.75rem;
  }
