<!-- products -->
<div class="page-content">
    {{ page.content }}
</div>
{% verbatim %}
    <products inline-template="inline-template">
        <div class="product-wrapper" v-if="loading" v-cloak="v-cloak">
            'loading' something
        </div>
        <div class="product-wrapper" v-else="v-else">
            <main class="content products">
                <h4 class='is-size-4'>Open Source Software</h4>
                <div class="nav">
                    <menu class="nav__controls">
                        <a v-for="(active, menu) in menus" class="button is-primary is-outlined nav__label" :class="{ ' nav__label--active is-reverse ' : active, '  nav__label--filter is-active ': activeFilters[menu].length }" :key='menu' @click.prevent="setMenu(menu, active)">
                            ${menu}
                        </a>
                        <button class="button is-danger is-outlined nav__label nav__label--clear" @click.prevent="clearAllFilters">Clear all</button>
                    </menu>
                </div>
                <transition-group name="dropdown" tag="section" class="dropdown" :style="dropdown">
                    <menu v-for="(options, filter) in filters" class="filters" v-show="menus[filter]" ref="menu" :key="filter">
                        <li v-for="(active, option) in options" class="filters__item" :class="{ 'filters__item--active': active }" @click="setFilter(filter, option)" :key='option'>
                            ${option}
                        </li>
                    </menu>
                </transition-group>

                <transition-group name="company" tag="section" class="content__list">
                    <div class="card company" v-for="(company,index) in list" :key="index">
                        <header class="card-header company__info">
                            <h2 class="is-centered">${company.entry_name}</h2>
                        </header>
                        <div class="card-content ">
                            <div class="content ">
                                <p class="content-text">${company.entry_descripton | truncate(50)}</p>
                                <p>Category:
                                    <a class='button is-outlined is-warning tagg' @click.prevent="clearFilter('categories', company.entry_category)">
                                        ${company.entry_category}
                                    </a>
                                </p>
                                <p>
                                    <button class='button is-outlined is-info' @click='modalComp(company)'>More Info</button>
                                </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <p class="company__country">
                                    <span>From:
                                    </span>
                                    <a href="" class='button is-primary is-outlined' @click.prevent="clearFilter('countries', company.entry_country)">
                                        ${company.entry_origin_country}
                                    </a>
                                </p>
                            </div>
                            <div class="card-footer-item">
                                <p class="company__rating">
                                    <span>Licence:</span>
                                    <span>
                                        <strong>
                                            ${company.entry_license}
                                        </strong>
                                    </span>
                                </p>
                            </div>

                        </footer>
                    </div>
                </transition-group>
                <b-modal :active.sync="isCardModalActive" :width="640" scroll="keep">
                    <div class="card">

                        <div v-if='modalCompany.entry_logoURL' class="card-image">
                            <figure class="image is-4by3">
                                <img :src="modalCompany.entry_logoURL" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title is-4">
                                    Name: ${ modalCompany.entry_name }</p>
                                <p class="subtitle is-6">
                                    Category: ${ modalCompany.entry_category }
                                </p>
                                <p class="description">
                                    ${ modalCompany.entry_descripton }
                                </p>
                                <p>Product sector: ${ modalCompany.entry_sector }</p>
                            </div>
                        </div>
                    </div>
                </b-modal>

            </main>
        </div>
    </products>

{% endverbatim %}