<!-- products -->
<div class="page-content">
    {{ page.content }}
</div>
{% verbatim %}
    <products inline-template="inline-template">
        <div class="product-wrapper" v-if="loading" v-cloak="v-cloak">
            'loading' something
        </div>
        <div class="product-wrapper" v-else="v-else">
            <main class="content products">
                <h4 class='is-size-4'>Open Source Software</h4>
                <div class="nav">
                    <menu class="nav__controls">
                        <a v-for="(active, menu) in menus" class="button is-primary is-outlined nav__label" :class="{ ' nav__label--active is-reverse ' : active, '  nav__label--filter is-active ': activeFilters[menu].length }" :key='menu' @click.prevent="setMenu(menu, active)">
                            ${menu}
                        </a>
                        <button class="button is-danger is-outlined nav__label nav__label--clear" @click.prevent="clearAllFilters">Clear all</button>
                    </menu>
                </div>
                <transition-group name="dropdown" tag="section" class="dropdown" :style="dropdown">
                    <menu v-for="(options, filter) in filters" class="filters" v-show="menus[filter]" ref="menu" :key="filter">
                        <li v-for="(active, option) in options" class="filters__item" :class="{ 'filters__item--active': active }" @click="setFilter(filter, option)" :key='option'>
                            ${option}
                        </li>
                    </menu>
                </transition-group>

                <transition-group name="company" tag="section" class="content__list">
                    <div class="card company" v-for="(company,index) in list" :key="index">
                        <header class="card-header company__info">
                            <h2 class="is-centered">${company.name}</h2>
                        </header>
                        <div class="card-content ">
                            <div class="content ">
                                <p class="content-text">${company.description | truncate(50)}</p>
                                <p>Category:
                                    <button v-for='(comp_categ, index) in company.category' id="index" class='button is-outlined is-warning tagg' @click.prevent="clearFilter('categories', comp_categ)">
                                        ${comp_categ}
                                    </button>
                                </p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <div class="card-footer-item">
                                <p class="company__country">
                                    <span>From:
                                    </span>
                                    <button class='button is-outlined is-info' @click.prevent='modalComp(company)'>More Info</button>
                                </p>
                            </div>
                            <div class="card-footer-item">
                                <p class="company__rating">
                                    <span>Licence:</span>
                                    <span>
                                        <strong v-for="(comp_licence, index) in company.license" id="index">
                                            ${comp_licence}
                                        </strong>
                                    </span>
                                </p>
                            </div>

                        </footer>
                    </div>
                </transition-group>
                <b-modal :active.sync="isCardModalActive" :width="640" scroll="keep">
                    <div class="card">
                        <div v-if='modalCompany.official_url' class="card-image">
                            <figure class="image is-4by3">
                                <img :src="modalCompany.logo_url" alt="Image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p class="title is-4">
                                    Name: ${ modalCompany.name }</p>
                                <p class="subtitle is-6" v-for="(category,index) in modalCompany.category" id="index">
                                    Category: ${ category } &nbsp;
                                </p>
                                <p class="subtitle is-6" v-for="(sector,index) in modalCompany.sector" id="index">
                                    Sector: ${ sector } &nbsp;
                                </p>
                                <p class="description">
                                    ${ modalCompany.description }
                                </p>
                                <p>Product category: ${ modalCompany.soft_type }</p>
                                <p >Product sector:
                                    <span v-for="(product_sector, index) in modalCompany.sector" id="index">
                                        ${ product_sector }
                                    </span>
                                </p>
                                <p>Product link:
                                    <a :href="modalCompany.official_url" rel='noopener nofollow'>${ modalCompany.official_url }</a>
                                </p>
                                <p v-if="modalCompany.maintainers">Product curently maintained by:
                                    <ul>
                                        <li v-for='maintainer in modalCompany.maintainers' :key='maintainer.id'>
                                            <span>
                                                <a :href="maintainer.link">
                                                    ${maintainer.maintainer_name}
                                                </a>
                                            </span>
                                            <span>
                                                Repository:
                                                <a :href="maintainer.maintainer_repository">
                                                    ${maintainer.maintainer_repository}</a>
                                            </span>
                                        </li>
                                    </ul>
                                </p>

                            </div>
                        </div>

                    </div>
                </b-modal>

            </main>
        </div>
    </products>

{% endverbatim %}