// Custom variables
@import "variables";
// Import Bulma
@import "../../node_modules/bulma/bulma";
// Partials
@import "partials/navbar";
@import "partials/products";
@import "partials/homepage";
@import "partials/features";
@import "partials/footer";

html,
body {
    height: 100%;
}

object {
    pointer-events: none;
}

body {
    display: flex;
    flex-flow: column nowrap;

}

#app {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.media {
    flex-wrap: wrap;
}

.media-left {
    padding-bottom: 1rem;
    max-width: 100%;

    figure.image {
        margin-left: 0;
        margin-right: 0;
        // padding-right: 2rem;
    }

}
