// Navbar style
.navbar {
    border-bottom: solid 1px $grey-lighter;

    .navbar-menu {
        box-shadow: none;
    }

    .navbar-brand {
        .navbar-item {
            padding-left: 0;
        }
    }
}
